<h1>Create Order</h1>
<hr>
<h3>Address</h3>
<div class="col">
  <ng-container *ngFor="let ad of order.addresses ;index as i">

    <div class="row">
      <div class="col-4">
        <input type="text" class="form-control" name="address.line1{{i}}" [(ngModel)]="ad.line1" placeholder="line1">
      </div>
      <div class="col-4">
        <input type="text" class="form-control" name="address.line2{{i}}" [(ngModel)]="ad.line2" placeholder="line2">

      </div>
      <div class="col-4">
        <input type="text" class="form-control" name="address.city{{i}}" [(ngModel)]="ad.city" placeholder="city">

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        <input type="text" class="form-control" name="address.state{{i}}" [(ngModel)]="ad.state" placeholder="state">
      </div>
      <div class="col-4">
        <input type="text" class="form-control" name="address.postalCode{{i}}" [(ngModel)]="ad.postalCode"
          placeholder="postalCode">

      </div>
      <div class="col-4">
        <input type="text" class="form-control" name="address.country{{i}}" [(ngModel)]="ad.country"
          placeholder="country">

      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="address.shippingAddress{{i}}"
            [(ngModel)]="ad.shippingAddress" id="gridCheck">
          <label class="form-check-label " for="gridCheck">
            Is shipping Address?
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="address.billingAddress{{i}}"
            [(ngModel)]="ad.billingAddress" id="gridCheck">
          <label class="form-check-label " for="gridCheck">
            Is billing Address?
          </label>
        </div>
      </div>

    </div>
  </ng-container>
</div>

<br>
<button class="btn btn-info" (click)="addnewAddress()" style="width:30% ;">+ Add Address</button>


<br>
<br>
<div style="width: 30%;">
  <button type="submit" *ngIf="!id" class="btn btn-primary" (click)="addneworder()">Add</button>
</div>
